Xft.antialias:  1
Xft.autohint:   0  
Xft.dpi:        96  
Xft.hinting:    1  
Xft.hintstyle:  hintfull  
Xft.lcdfilter:  lcddefault  
Xft.rgba:       rgb


Emacs.toolBar:			off
Emacs.menuBar:			off
Emacs.verticalScrollBars:	off
Emacs.cursorColor:		#A7A7A7
Emacs.foreground:		#F8F8F8
Emacs.background:		#0C1021
Emacs.Font:			monaco-11

